.tab, .items{
  background: rgb(224, 228, 254);
}

.tab{
  display: flex;
  margin-top: 17px;
  justify-content: space-around;
  align-items: center;
  border-top-left-radius: var(--bento-radius-16);
  border-top-right-radius: var(--bento-radius-16);
}

.items{
  height: 100%;
}