main{
    background-color: rgb(225, 229, 255);
    padding: 20px;
    box-sizing: border-box;
}

.logo{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}